
@{
    ViewData["Gracias"] = "Gracias";
}

<h1>Gracias por ponerte en contacto</h1>
<p>En breve me contactaré contigo</p>
<div><a asp-controller="home" asp-action="index">Volver al menú principal</a></div>
