@model IEnumerable<Proyecto>


<div class="text-center" style="padding-top: 6rem;">
    <h1>Mis trabajos</h1>
    <p>Estos son todos mis trabajos</p>
</div>

<partial name="_Proyectos" model="Model" />
